<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modals">
    <!-- Модальное окно деталей рецепта -->
    <div class="modal fade" id="recipeModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="recipeModalTitle" th:text="#{recipe.details.title}">📖 Детали рецепта</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="recipeModalBody">
                    <!-- Контент будет загружен динамически -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{common.close}">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно комментариев -->
    <div class="modal fade" id="commentsModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="commentsModalTitle">💬 <span th:text="#{comment.view_title}">Комментарии к рецепту</span></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="commentsModalBody">
                    <!-- Контент будет загружен динамически -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{common.close}">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>